# Dependências
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Sistema
.DS_Store
Thumbs.db

# Ambiente
.env
.env.test
.env.local

# Compilados e cache
dist/
build/
.cache/
coverage/

# Editor/IDE
.vscode/
.idea/
*.swp
